{% extends 'base.html' %}

{% block header %}
  <div class="alert alert-primary" role="alert">
    <h3>SNS sample</h3>
  </div>
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="alert alert-success" role="alert">
      <p>タイトル：</p>
      <p>投稿者：</p>
      <a href="#" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Primary link</a>
      <a href="#" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Link</a>
    </div>
  </div>
{% endblock content %}
